@import url("https://fonts.googleapis.com/css2?family=Marmelad&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.icon::after {
  background: url(../images/icon-small.svg) no-repeat;
  width: 100%;
  height: 50px;
  position: absolute;
  left: calc(50% - 100px);
  top: 3%;
}

@keyframes navMenu {
  from {
    transform: translate(150%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slideImage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.pad-tb-80 {
  padding: 80px 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Marmelad", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  list-style: none;
}

hr {
  background-color: #EDA2B6;
}

@media (max-width: 768px) {
  .justify-content-end {
    justify-content: center !important;
  }
  .justify-content-start {
    justify-content: center !important;
  }
}
.header {
  background: #ffffff;
  box-shadow: -1px -4px 12px 2px #e4e4e4;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
.header__nav {
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__nav--brand {
  padding: 20px 0;
}
.header__nav--brand a {
  padding: 15px 0;
  font-size: 1.6rem;
  color: #EDA2B6;
}
.header__nav--menu {
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
}
@media (max-width: 991.98px) {
  .header__nav--menu {
    display: block;
    font-size: 1.5rem;
    position: absolute;
    top: 100%;
    padding: 0;
    left: calc(50% + 70px);
    width: 250px;
    height: 100vh;
    background: #fff;
    background-color: #EDA2B6;
    transform: translateX(200%);
    transition: all 0.5s ease-out;
  }
  .header__nav--menu::before {
    content: "";
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #EDA2B6;
    top: -16px;
    left: 77px;
    z-index: 100;
  }
}
@media (max-width: 767.98px) {
  .header__nav--menu {
    left: unset;
    right: 35px;
  }
  .header__nav--menu::before {
    left: 73%;
    z-index: 100;
  }
}
@media (max-width: 576.98px) {
  .header__nav--menu {
    right: 35px;
  }
}
.header__nav--menu.open-nav {
  transform: translateX(calc(50% + 20px));
}
@media (max-width: 767.98px) {
  .header__nav--menu.open-nav {
    transform: translateX(20%);
  }
}
.header__nav--menu .link {
  list-style: none;
  font-size: 1.05rem;
  padding: 25px 20px;
  cursor: pointer;
}
.header__nav--menu .link a {
  color: #EDA2B6;
}
@media (max-width: 991.98px) {
  .header__nav--menu .link a {
    color: #fff;
  }
}
.header__nav .link:hover {
  color: #EDA2B6;
  background: #f0f0f0;
}
@media (max-width: 991.98px) {
  .header__nav .link:hover {
    color: unset;
    background: unset;
  }
}
.header__nav--bar {
  display: none;
}
@media (max-width: 991.98px) {
  .header__nav--bar {
    display: block;
  }
  .header__nav--bar i {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    transition: all 0.25s;
    padding: 10px;
    border-radius: 5px;
    background-color: #EDA2B6;
    width: 40px;
    height: 40px;
  }
}

@keyframes navMenu {
  from {
    opacity: 1;
    transform: translate(150%, 0);
  }
  to {
    opacity: 0.8;
    transform: translate(0, 0);
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: center;
    opacity: 1;
  }
}
.section-1 {
  position: relative;
  overflow: hidden;
}
.section-1 .show {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
}
.section-1 .show .slide {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover !important;
  background-size: cover !important;
}
.section-1 .show .svg::before,
.section-1 .show .svg::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 100%;
  top: calc(50% - 350px);
}
.section-1 .show .svg::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='278' height='503' viewBox='0 0 278 503'%3E%3Cpath fill='%23eda2b6' fill-rule='evenodd' d='M241%2C443.8c-8.1-0.4-15.8%2C6.3-22.4%2C6.2c-8.9-0.2-14.9-4.8-21.3-1.1c7.8-4.9%2C19.7-10.8%2C27.5-19.2%09c-14-3.4-23.6%2C10.6-34.4%2C17.1c7.2-8.9%2C15.3-21.4%2C17.9-35.8c-8.3%2C10.7-18%2C18.9-22.8%2C36.6c-14.7%2C1.5-36-6.2-46-16.2%20c21.3%2C10.2%2C36.9%2C4.6%2C52.4-10.8c4.9-4.9%2C5.3-3.3%2C7.8-4.1c-7.9-8.8-31.5-7.7-42.8-1.9c-0.5%2C0.3-1%2C0.6-1.5%2C0.9c-2.9-2.5-4.2%2C0-5.7-0.8%20c-4.9-2.6-10.7-8.9-12.4-13.1c4.5%2C2.2%2C9.4%2C3.6%2C14.4%2C4.1c2.9%2C0.4%2C4.1%2C3.4%2C6.1%2C1.7c1.7-1.5%2C1.1-4.3-0.7-4.5c-1.8-0.2-4.1%2C1.7-5.6%2C1.6%20c-3.6-0.1-8.6-0.9-11.8-3.6c-1-0.8-1.8-1.7-2.4-2.8c3.3-3.5%2C7.3-6.3%2C11.8-7.9c1.6%2C1.2%2C3%2C3.4%2C5.1%2C1.2c1.1-1.2%2C0.6-4.5-1.4-4.7%20c-2.1-0.2-2.9%2C1.9-3.9%2C2.2c-5%2C1.2-8.2%2C5.5-12.5%2C7.5c-1.4-0.6-2.8-1.9-5.1-1.4c-4.7-2.1-9.3-4.5-13.8-7.2c13.4-1.1%2C26.6-4.2%2C39.2-9.1%20c1.6%2C2.1%2C3.8%2C0.5%2C5.9%2C0.9c2.7%2C8.4%2C17.1%2C17.4%2C24.9%2C13.6c2.2%2C0%2C3.3%2C1.5%2C5.1-1.1c1.1-1.7-1.1-5.8-3.6-3.2c-1.1%2C1.2-1.8%2C3.4-3.5%2C3.6%20c-8.2%2C1.1-20.1-5-20.9-13.8c2.5%2C2.3%2C6.8%2C4.2%2C10.2%2C5.5c1.4%2C0.5%2C2%2C2.4%2C4.1%2C1.9c1.4-0.3%2C1.9-2.3%2C0.4-3.7c-2.2-2.2-2%2C1.1-4.3%2C0.6%20c-3.4-0.8-7-2.5-9.2-5.8c6.2-1.4%2C14.9%2C0.8%2C21.4-0.2c2.6-0.4%2C3.6%2C1.6%2C5-0.4c1.5-2.1-0.3-4.6-1.6-4.5c-1.7%2C0.2-2.9%2C2.3-3%2C3.6%20c-7.2%2C1.5-14-1-22-0.2c1.2-2.3%2C4.3-4.3%2C7.5-4.8c1.7-0.3%2C1.9%2C1.5%2C3.6%2C0.4c0.4-0.3%2C0.7-0.6%2C0.9-1.1c0.4-1.1-0.2-2.3-1.3-2.6%20c-1.9-0.8-2.5%2C1.7-3.8%2C2.2c-2.4%2C1-5.1%2C2.5-7.2%2C2.4c4.1-5.8%2C8.5-10.3%2C13.9-12.5c1.8-0.7%2C2.8%2C1.6%2C5.1-0.2c0.8-0.6%2C0.8-3-0.9-4%20c-2.3-1.3-2.8%2C2.1-5.1%2C3.3c-6.5%2C3.2-11.9%2C8.4-15.4%2C14.8c-2.2%2C1.2-4.7-0.2-7%2C3.4c-11.3%2C4.7-24.5%2C7.4-36.4%2C8.7c4.8-2.4%2C8-5.8%2C11.3-9.3%20c0.7%2C0.2%2C2-0.5%2C3.9-3.4c7.2-0.4%2C15.1-1.1%2C19.3-9.3c1-2%2C5-4.4%2C3.6-6.9c-1.1-1.9-3.2-1.7-3.8-0.2c-1.4%2C3.4%2C0%2C5.3-0.7%2C6.6%20c-3.8%2C7.4-10.9%2C8.6-17.8%2C8.3c1.1-2%2C4.4-4.6%2C6.9-7.3c1.5-1.7%2C4.9-1%2C4.8-5.2c0-2.6-3.6-2.8-4.6-1.4c-1.4%2C1.9-0.4%2C4.3-1.4%2C5.4%20c-1.7%2C2.2-3.5%2C4.7-5.9%2C5.7c-0.8-6.4%2C1.2-12%2C4.1-17.2c1.3-2.5%2C6.8-1.7%2C5.6-6.3c-0.7-2.8-4.6-4.2-6-1.5c-1.1%2C2-0.3%2C5.6-1.1%2C7.5%20c-2.3%2C5.2-4.3%2C13.4-5.4%2C18c-2.3-3-3.7-6.7-4-10.5c-0.2-2.3%2C3-4.4%2C1.4-7.9c-1.1-2.5-6-2.1-6.1%2C3.6c0%2C3.2%2C2.5%2C3.3%2C3%2C5.2%20c0.9%2C4.1%2C4.2%2C8.2%2C5.1%2C11.2c-0.6%2C1.1-1.9%2C2.2-1.8%2C4.9c-7.1%2C10-18.5%2C11-31.9%2C7.6c-3.6-0.9-8.8-3.8-13.6-7.6%20c-2.7-5.1-5.5-9.3-10.5-11.5c12.2%2C4.7%2C29.2%2C13.5%2C44.7%2C14.8c-10.3-20.3-33-18.4-49.5-25.2c15.4%2C0.1%2C35.1-2.1%2C51.3-13%20c-18.3%2C0.3-35.4-3.6-56.8%2C7.8c-15.7-16.5-28.9-49.8-29.2-71.7C45.7%2C312.6%2C66.1%2C326%2C95.9%2C330c9.4%2C1.2%2C8.2%2C3.3%2C11.5%2C5.6%20c0.7-18.2-23.2-45.7-39.6-53.9c-3.6-1.8-7.7-2.5-11.7-3.4c-4.3-0.9-8.8-2-12.7-4.1c-4.4-2.3-7.7-6-9-10.9%20c-1.5-5.7-2.6-11.7-1.9-17.6c0.3-2.9%2C1.1-5.8%2C2.2-8.5c5.7-14.1%2C23.5-12.1%2C33-16.8c16.4-8.2%2C40.3-35.7%2C39.6-53.9%20c-3.2%2C2.3-2.1%2C4.3-11.5%2C5.6c-29.7%2C3.9-50.1%2C17.4-61.1%2C53.2c0.3-21.9%2C13.5-55.2%2C29.2-71.7c21.5%2C11.4%2C38.5%2C7.5%2C56.8%2C7.8%20c-16.2-10.8-35.9-13.1-51.3-13c16.5-6.8%2C39.2-5%2C49.5-25.2c-15.5%2C1.3-32.5%2C10-44.7%2C14.7c5-2.2%2C7.8-6.4%2C10.5-11.5%20c4.8-3.8%2C10-6.7%2C13.6-7.6c13.4-3.4%2C24.8-2.4%2C31.9%2C7.6c-0.1%2C2.7%2C1.2%2C3.8%2C1.8%2C4.9c-0.9%2C3-4.1%2C7.1-5.1%2C11.2c-0.5%2C1.9-3%2C2-3%2C5.2%20c0.1%2C5.7%2C5%2C6%2C6.1%2C3.6c1.6-3.5-1.6-5.6-1.4-7.9c0.3-3.8%2C1.7-7.4%2C4-10.5c1.1%2C4.6%2C3.1%2C12.8%2C5.4%2C18c0.8%2C1.9%2C0%2C5.5%2C1.1%2C7.5%20c1.5%2C2.7%2C5.3%2C1.3%2C6-1.5c1.2-4.5-4.2-3.8-5.6-6.3c-2.8-5.2-4.9-10.8-4.1-17.2c2.4%2C1.1%2C4.2%2C3.6%2C5.9%2C5.7c0.9%2C1.2%2C0%2C3.6%2C1.4%2C5.4%20c1%2C1.4%2C4.6%2C1.2%2C4.6-1.4c0.1-4.1-3.3-3.5-4.8-5.2c-2.5-2.7-5.8-5.3-6.9-7.3c6.8-0.3%2C14%2C0.9%2C17.8%2C8.3c0.6%2C1.3-0.7%2C3.1%2C0.7%2C6.6%20c0.6%2C1.5%2C2.7%2C1.7%2C3.8-0.2c1.5-2.5-2.6-4.9-3.6-6.9c-4.2-8.2-12.1-8.9-19.3-9.3c-1.8-3-3.1-3.6-3.9-3.4c-3.3-3.5-6.5-6.9-11.3-9.3%20c11.8%2C1.3%2C25.1%2C3.9%2C36.4%2C8.7c2.3%2C3.6%2C4.8%2C2.2%2C7%2C3.4c3.5%2C6.4%2C8.8%2C11.6%2C15.4%2C14.8c2.3%2C1.2%2C2.8%2C4.6%2C5.1%2C3.3c1.7-1%2C1.7-3.4%2C0.9-4%20c-2.3-1.8-3.3%2C0.6-5.1-0.2c-5.4-2.2-9.8-6.7-13.9-12.5c2.2-0.2%2C4.8%2C1.4%2C7.2%2C2.4c1.3%2C0.5%2C1.9%2C3.1%2C3.8%2C2.2c1.1-0.4%2C1.7-1.5%2C1.3-2.6%20c-0.2-0.5-0.5-0.8-0.9-1.1c-1.7-1.1-1.9%2C0.7-3.6%2C0.4c-3.2-0.5-6.3-2.5-7.5-4.8c7.9%2C0.7%2C14.7-1.7%2C22-0.2c0.1%2C1.3%2C1.3%2C3.4%2C3%2C3.6%20c1.3%2C0.1%2C3.1-2.4%2C1.6-4.5c-1.4-2-2.5%2C0-5-0.4c-6.4-1.1-15.2%2C1.2-21.4-0.2c2.2-3.2%2C5.8-4.9%2C9.2-5.8c2.3-0.6%2C2.1%2C2.7%2C4.3%2C0.6%20%20c1.5-1.5%2C0.9-3.4-0.4-3.7c-2.1-0.5-2.7%2C1.4-4.1%2C1.9c-3.5%2C1.3-7.7%2C3.2-10.2%2C5.5c0.8-8.9%2C12.6-15%2C20.9-13.8c1.7%2C0.2%2C2.4%2C2.4%2C3.5%2C3.6%20c2.4%2C2.6%2C4.7-1.6%2C3.6-3.2c-1.8-2.6-2.9-1-5.1-1.1c-7.8-3.8-22.1%2C5.2-24.9%2C13.6c-2.1%2C0.4-4.3-1.2-5.9%2C0.9%20c-12.6-4.9-25.8-7.9-39.2-9.1c4.4-2.7%2C9-5.1%2C13.8-7.2c2.3%2C0.5%2C3.8-0.8%2C5.1-1.4c4.3%2C2%2C7.5%2C6.3%2C12.5%2C7.5c1%2C0.2%2C1.8%2C2.4%2C3.9%2C2.2%20c2-0.2%2C2.5-3.5%2C1.4-4.7c-2.1-2.2-3.4%2C0-5.1%2C1.2c-4.5-1.7-8.6-4.4-11.8-7.9c0.6-1.1%2C1.4-2%2C2.4-2.8c3.3-2.6%2C8.2-3.4%2C11.8-3.6%20c1.5-0.1%2C3.8%2C1.8%2C5.6%2C1.6c1.8-0.2%2C2.4-3%2C0.7-4.5c-2-1.7-3.2%2C1.2-6.1%2C1.7c-5%2C0.5-9.9%2C1.9-14.4%2C4.1c1.7-4.2%2C7.5-10.5%2C12.4-13.1%20c1.5-0.8%2C2.8%2C1.7%2C5.7-0.8c0.5%2C0.3%2C1%2C0.6%2C1.5%2C0.9c11.3%2C5.7%2C34.9%2C6.9%2C42.8-1.9c-2.5-0.8-2.9%2C0.8-7.8-4.1%20c-15.6-15.5-31.1-21.1-52.4-10.8c10.1-10%2C31.3-17.7%2C46-16.2c4.8%2C17.7%2C14.5%2C25.8%2C22.8%2C36.6c-2.6-14.4-10.7-26.9-17.9-35.8%20c10.7%2C6.4%2C20.4%2C20.4%2C34.4%2C17.1c-7.8-8.4-19.7-14.3-27.5-19.2c6.4%2C3.7%2C12.4-1%2C21.3-1.1c6.6-0.1%2C14.3%2C6.6%2C22.4%2C6.2%20c16.4-0.9%2C27.7-12.3%2C35-25.8c-18.6%2C3.4-31.7-6.1-47.2%2C2.8c-7.8%2C4.5-11.5%2C19.7-24.7%2C15.1c10.1-4.4%2C15.2-11.2%2C21.5-17.2%20c3.8-3.6%2C8.4-6.1%2C10.9-10.9c-8.4%2C0.2-15.4%2C6.3-20.4%2C10.7c3.1-6.4%2C8.9-11%2C8.1-20c-7.6%2C6.8-16.7%2C17.3-20.6%2C26.8%20c-1.5%2C3.6-1.6%2C8.9-4.9%2C10.6c-6.7%2C3.4-12.4-2.3-22.6%2C1.5c6.8-11%2C20.9-11.8%2C27-22.7c4.8-8.5%2C5.8-17.6%2C7.5-28.2%20c-16.1%2C10.2-39.9%2C20.5-39.8%2C42.6c0%2C3.5%2C2.3%2C6.1%2C0.6%2C8.2c-4.6%2C0.5-9.1%2C1.4-13.5%2C2.6c8-12.8%2C12.4-28%2C11.9-46.3%20c-5.3%2C6.4-9%2C14.8-12.1%2C22.7c-0.2-4.5%2C0.9-9.9-0.8-13.5c-6.7%2C9.6-11.4%2C21.8-11%2C34.6c0.1%2C2.7%2C1.2%2C5.2%2C1.9%2C7.8%20c-6.5%2C4.1-12.5%2C8.9-17.9%2C14.3c6.3-16.9%2C5.3-35.2%2C0.9-51.8c-14.8%2C25.9-36.5%2C32.6-43%2C60.1c-3.3%2C13.9%2C7.6%2C33.1-9.6%2C44.7%20c5.6-16.5%2C4.1-29.3%2C4.5-42.9c0.3-8%2C2.3-16.1%2C0.2-23.8c-7.9%2C10.4-9%2C24.9-9.5%2C35.2c-3.1-10-1.8-21.5-11.2-29.2%20c-1%2C15.8%2C0.3%2C37.1%2C5.5%2C51.1c2%2C5.3%2C6.9%2C10.6%2C5.4%2C16.3c-3.2%2C11.4-14.3%2C12.8-20.4%2C28.9c-3.9-18.9%2C9-36.9%2C4.6-54.8%20C53.7%2C93.7%2C46%2C83.6%2C37.6%2C71.3c-5.9%2C29.5-19.2%2C68.4%2C1.9%2C89.7c3.4%2C3.4%2C8%2C3%2C8.4%2C7.2c-4%2C6.1-7.5%2C12.4-10.7%2C19%20c-4.3-22.7-15.7-43.5-32.4-59.5c0.9%2C12.6%2C5.3%2C25.3%2C9.8%2C36.8C10.2%2C160.4%2C6%2C153.8%2C1%2C152.4c2.6%2C17.5%2C9.6%2C35%2C22.2%2C47%20c2.6%2C2.5%2C6.2%2C3.6%2C9.2%2C5.3c-3.7%2C18.3-4.7%2C37.1-2.9%2C55.8c0.2%2C1.9%2C0.3%2C3.8%2C0.5%2C5.7c0.5%2C5.9%2C0.2%2C11.9%2C0.7%2C17.8c0.4%2C4.4%2C0.9%2C8.9%2C1.8%2C13.2%20c-3.1%2C1.8-6.6%2C2.8-9.2%2C5.3c-12.6%2C12-19.6%2C29.4-22.2%2C47c5-1.4%2C9.2-8%2C13.6-12.1c-4.6%2C11.6-8.9%2C24.2-9.8%2C36.8%20c16.8-16%2C28.1-36.8%2C32.4-59.5c3.1%2C6.5%2C6.7%2C12.9%2C10.7%2C19c-0.4%2C4.2-5%2C3.8-8.4%2C7.2c-21.1%2C21.2-7.8%2C60.2-1.9%2C89.7%20c8.4-12.3%2C16.1-22.4%2C19.5-36.5c4.4-17.9-8.5-35.9-4.6-54.8c6.2%2C16%2C17.3%2C17.4%2C20.4%2C28.9c1.6%2C5.7-3.4%2C10.9-5.4%2C16.3%20c-5.2%2C14-6.5%2C35.3-5.5%2C51.1c9.3-7.7%2C8.1-19.2%2C11.2-29.2c0.6%2C10.3%2C1.6%2C24.8%2C9.5%2C35.2c2.1-7.7%2C0.1-15.8-0.2-23.8%20c-0.4-13.5%2C1.1-26.4-4.5-42.9c17.2%2C11.6%2C6.3%2C30.9%2C9.6%2C44.7c6.6%2C27.5%2C28.2%2C34.2%2C43%2C60.1c4.4-16.6%2C5.4-34.9-0.9-51.8%20c5.4%2C5.4%2C11.4%2C10.2%2C17.9%2C14.3c-0.6%2C2.6-1.8%2C5.1-1.9%2C7.8c-0.4%2C12.9%2C4.3%2C25%2C11%2C34.6c1.7-3.6%2C0.6-9%2C0.8-13.5c3.1%2C8%2C6.8%2C16.4%2C12.1%2C22.7%20c0.4-18.3-3.9-33.5-11.9-46.3c4.4%2C1.2%2C9%2C2.1%2C13.5%2C2.6c1.7%2C2.2-0.6%2C4.7-0.6%2C8.2c-0.1%2C22.1%2C23.7%2C32.4%2C39.8%2C42.6%20c-1.7-10.6-2.7-19.7-7.5-28.2c-6.1-10.8-20.2-11.6-27-22.7c10.1%2C3.8%2C15.9-2%2C22.6%2C1.5c3.3%2C1.7%2C3.4%2C7%2C4.9%2C10.6%20c3.9%2C9.5%2C13%2C20.1%2C20.6%2C26.8c0.8-9-5-13.6-8.1-20c4.9%2C4.4%2C12%2C10.5%2C20.4%2C10.7c-2.5-4.8-7.1-7.4-10.9-10.9c-6.3-6-11.5-12.8-21.5-17.2%20c13.3-4.6%2C16.9%2C10.6%2C24.7%2C15.1c15.5%2C8.9%2C28.6-0.6%2C47.2%2C2.8C268.7%2C456.1%2C257.4%2C444.7%2C241%2C443.8z%20M112.2%2C375.6%20c-11.5-5.4-28.3-5.5-35.9-16.3C88.9%2C360.6%2C104.9%2C363.5%2C112.2%2C375.6z%20M92.8%2C313.8c-14.4-12.4-35-16.2-45.8-33.4%20C63.8%2C283.1%2C84.7%2C297.1%2C92.8%2C313.8z%20M100%2C327.5c-21-5.3-46-8.2-56.8-41.4C61.6%2C300.4%2C85.5%2C308.2%2C100%2C327.5z%20M47%2C221.6%20c10.7-17.2%2C31.3-21%2C45.8-33.4C84.7%2C204.9%2C63.8%2C218.9%2C47%2C221.6z%20M100%2C174.5c-14.5%2C19.4-38.4%2C27.1-56.8%2C41.4%20C54.1%2C182.7%2C79%2C179.8%2C100%2C174.5z%20M112.2%2C126.4c-7.3%2C12.1-23.3%2C14.9-35.9%2C16.3C83.9%2C132%2C100.7%2C131.9%2C112.2%2C126.4z%20M265.6%2C37%20c-14%2C7.9-29.6%2C4.5-40.8%2C7C230.8%2C34.5%2C255.6%2C32.4%2C265.6%2C37z%20M264.8%2C41.8L264.8%2C41.8c-7.3%2C13.1-32.2%2C15.8-40.3%2C6.1%20C238.8%2C44.1%2C249.3%2C47.9%2C264.8%2C41.8z%20M230.6%2C25.5L230.6%2C25.5c-7.7%2C7.4-13.5%2C16.1-24.6%2C21.2C212.8%2C38.8%2C219.2%2C30.5%2C230.6%2C25.5z%20M222.5%2C17.2L222.5%2C17.2c-3.3%2C10.8-12.1%2C18.1-17.7%2C27.5C206%2C34.9%2C214%2C24.3%2C222.5%2C17.2z%20M220.2%2C69.8c-8.9%2C1.4-17.6-6.6-24-13.3%20C204.5%2C56%2C212.4%2C65.7%2C220.2%2C69.8z%20M205.6%2C84.9c-6-6.9-14.4-15.7-18.4-29.5C195.3%2C61.2%2C201%2C71.9%2C205.6%2C84.9z%20M178.4%2C44.3%20c1.9-13.6%2C20.5-21.5%2C28.6-33.1C204%2C26.6%2C194.4%2C37.6%2C178.4%2C44.3z%20M204.2%2C8.3c-2%2C6.6-11.2%2C11.6-17.4%2C17.5c-6.3%2C5.9-9.7%2C13.8-12.5%2C21.3%20C169.8%2C27.1%2C189.6%2C17.7%2C204.2%2C8.3z%20M167.8%2C13.9L167.8%2C13.9c1.3%2C15.5-5.1%2C31.1-13.6%2C42.3C154.1%2C41.5%2C161.5%2C26.4%2C167.8%2C13.9z%20M155.8%2C22.9L155.8%2C22.9c1.9%2C12.1-2.5%2C25.2-5.6%2C36C143.4%2C46%2C153.1%2C33.6%2C155.8%2C22.9z%20M192.8%2C85L192.8%2C85%20c-15.5%2C0.5-30.1-9.8-45.1-13.8C167.7%2C62.1%2C180.6%2C75.2%2C192.8%2C85z%20M183.2%2C87.1c-11.3%2C3-27.3-2.7-36.3-11.1h0%20C159.6%2C74.3%2C170.8%2C84.5%2C183.2%2C87.1z%20M95.5%2C100c10.3-21.2%2C24-30.3%2C33.3-55C134.2%2C66.7%2C112.6%2C99.6%2C95.5%2C100z%20M125.1%2C39.3%20c-6%2C24.6-24.4%2C40.4-32.9%2C56.4C89%2C79.2%2C111%2C47%2C125.1%2C39.3z%20M93.8%2C111L93.8%2C111c6.3-8.1%2C20.1-10.9%2C27.5-21.2c1.7-2.3%2C3.2-4.7%2C4.5-7.2%20c2-3%2C4.8-5.3%2C8.2-6.6c6.7-2.4%2C12.4%2C3.2%2C17.6%2C7.5c-0.8%2C0.7-1.2%2C1.9-2.7%2C2.8c-5.7%2C3.6-10.9%2C8.9-13.4%2C14.2c-1.3-3.4-1.5-6.6-0.5-8.8%20c1-2.1%2C3.1-2.2%2C1.9-4.9c-0.6-1.3-2.7-0.9-3.2%2C0c-0.9%2C1.5-0.1%2C3%2C0%2C5c0.1%2C3.6-0.5%2C5.8%2C0.7%2C10.3c-1.5%2C0.8-3%2C1.4-3.9%2C3.1%20c-7%2C4.2-9.6%2C6.1-15.1%2C8.1c-4.6%2C1.7-12.9%2C1.9-19.8%2C4.5c-3.3%2C1.4-6.5%2C3.2-9.4%2C5.4C88.4%2C119%2C90.9%2C114.9%2C93.8%2C111z%20M80.2%2C70.8%20c-0.5%2C16.6%2C2.2%2C32-3.8%2C50.5C75.6%2C105.2%2C73.9%2C89.5%2C80.2%2C70.8z%20M64.6%2C72.5c7.1%2C14.6%2C5.5%2C32.3%2C8.9%2C48.3C65.3%2C109.7%2C63%2C89.7%2C64.6%2C72.5z%20M112.4%2C158.9L112.4%2C158.9c-12.3%2C0.5-28.8%2C2.2-45.9-6.2C80%2C148.3%2C95.6%2C151.8%2C112.4%2C158.9z%20M38.3%2C86.1L38.3%2C86.1%20c4.3%2C8.9%2C0.2%2C24.8-0.3%2C38.1c-0.5%2C13.4%2C3.7%2C25.2%2C8.2%2C35.9C22.8%2C146.1%2C33.2%2C113%2C38.3%2C86.1z%20M47.5%2C152.4L47.5%2C152.4%20c-11.1-15.5-0.5-45.8-3.7-66.8C55.6%2C104.1%2C56.7%2C126.4%2C47.5%2C152.4z%20M8.5%2C135.8c16%2C13.5%2C24.6%2C36.5%2C27%2C57.5%20C21.3%2C179.2%2C14.2%2C155.7%2C8.5%2C135.8z%20M5.4%2C159.1c13.3%2C9.4%2C21.5%2C27.5%2C28.8%2C41.8C15.3%2C196.7%2C12.9%2C172.8%2C5.4%2C159.1z%20M5.4%2C342.9%20c7.6-13.6%2C9.9-37.6%2C28.8-41.8C26.9%2C315.3%2C18.6%2C333.4%2C5.4%2C342.9z%20M8.5%2C366.2c5.7-19.9%2C12.8-43.4%2C27-57.5%20C33.1%2C329.7%2C24.5%2C352.8%2C8.5%2C366.2z%20M38.3%2C415.9c-5.2-27-15.5-60.1%2C7.9-74c-4.5%2C10.6-8.7%2C22.5-8.2%2C35.9%20C38.6%2C391.1%2C42.6%2C407.1%2C38.3%2C415.9z%20M43.8%2C416.4c3.2-21-7.4-51.3%2C3.7-66.8l0%2C0C56.7%2C375.6%2C55.6%2C397.9%2C43.8%2C416.4z%20M66.5%2C349.3%20c17.1-8.4%2C33.5-6.8%2C45.9-6.2l0%2C0C95.6%2C350.2%2C80%2C353.7%2C66.5%2C349.3z%20M64.6%2C429.5c-1.6-17.2%2C0.8-37.2%2C8.9-48.3%20C70%2C397.1%2C71.6%2C414.9%2C64.6%2C429.5z%20M80.2%2C431.2c-6.3-18.7-4.6-34.4-3.8-50.5C82.4%2C399.3%2C79.7%2C414.7%2C80.2%2C431.2z%20M192.8%2C417L192.8%2C417%20c-12.1%2C9.8-25%2C22.9-45.1%2C13.8C162.7%2C426.8%2C177.2%2C416.5%2C192.8%2C417z%20M183.2%2C414.9c-12.3%2C2.6-23.6%2C12.9-36.3%2C11.1l0%2C0%20C155.8%2C417.5%2C171.8%2C411.8%2C183.2%2C414.9z%20M92.2%2C406.3c8.5%2C16%2C26.8%2C31.8%2C32.9%2C56.4C111%2C455%2C89%2C422.8%2C92.2%2C406.3z%20M128.8%2C456.9%20c-9.3-24.7-23-33.7-33.3-55C112.6%2C402.4%2C134.2%2C435.3%2C128.8%2C456.9z%20M134%2C425.9c-3.4-1.3-6.2-3.6-8.2-6.6c-1.3-2.5-2.9-4.9-4.5-7.2%20c-7.4-10.3-21.3-13-27.5-21.2h0c-2.9-3.9-5.4-8-7.5-12.4c2.9%2C2.2%2C6%2C4%2C9.4%2C5.4c6.8%2C2.6%2C15.2%2C2.9%2C19.8%2C4.5c5.5%2C2%2C8.1%2C4%2C15.1%2C8.1%20c0.9%2C1.7%2C2.4%2C2.3%2C3.9%2C3.1c-1.2%2C4.6-0.6%2C6.8-0.7%2C10.3c-0.1%2C2-0.8%2C3.4%2C0%2C5c0.5%2C0.9%2C2.6%2C1.3%2C3.2%2C0c1.2-2.8-0.9-2.8-1.9-4.9%20c-1-2.1-0.8-5.4%2C0.5-8.8c2.4%2C5.3%2C7.7%2C10.6%2C13.4%2C14.2c1.5%2C0.9%2C1.9%2C2.1%2C2.7%2C2.8C146.5%2C422.8%2C140.7%2C428.3%2C134%2C425.9z%20M155.8%2C479.1%20c-2.7-10.7-12.4-23.1-5.6-36C153.3%2C453.9%2C157.7%2C467%2C155.8%2C479.1z%20M167.8%2C488.1c-6.4-12.5-13.7-27.5-13.6-42.3%20C162.7%2C456.9%2C169.2%2C472.6%2C167.8%2C488.1z%20M207%2C490.7c-8-11.6-26.7-19.4-28.6-33.1C194.4%2C464.4%2C204%2C475.4%2C207%2C490.7z%20M186.8%2C476.3%20c6.3%2C5.9%2C15.4%2C10.9%2C17.4%2C17.5c-14.6-9.5-34.4-18.8-29.9-38.8C177.1%2C462.5%2C180.5%2C470.4%2C186.8%2C476.3z%20M205.6%2C417.1%20c-4.5%2C13-10.2%2C23.7-18.4%2C29.5C191.2%2C432.8%2C199.6%2C424%2C205.6%2C417.1z%20M196.1%2C445.5c6.5-6.7%2C15.2-14.7%2C24-13.3l0%2C0%20C212.4%2C436.3%2C204.5%2C446%2C196.1%2C445.5z%20M230.6%2C476.5L230.6%2C476.5c-11.4-5-17.7-13.3-24.6-21.2C217.1%2C460.5%2C222.8%2C469.1%2C230.6%2C476.5z%20M222.5%2C484.8L222.5%2C484.8c-8.5-7.1-16.5-17.7-17.7-27.5C210.4%2C466.6%2C219.2%2C473.9%2C222.5%2C484.8z%20M264.8%2C460.1L264.8%2C460.1%20c-15.5-6-26-2.2-40.3-6.1C232.6%2C444.3%2C257.4%2C447%2C264.8%2C460.1z%20M224.8%2C458c11.2%2C2.5%2C26.8-0.9%2C40.8%2C7%20C255.6%2C469.6%2C230.8%2C467.5%2C224.8%2C458z'/%3E%3C/svg%3E") no-repeat;
  left: 20%;
}
.section-1 .show .svg::after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='278' height='503' viewBox='0 0 278 503'%3E%3Cpath fill='%23eda2b6' fill-rule='evenodd' d='M241%2C443.8c-8.1-0.4-15.8%2C6.3-22.4%2C6.2c-8.9-0.2-14.9-4.8-21.3-1.1c7.8-4.9%2C19.7-10.8%2C27.5-19.2%09c-14-3.4-23.6%2C10.6-34.4%2C17.1c7.2-8.9%2C15.3-21.4%2C17.9-35.8c-8.3%2C10.7-18%2C18.9-22.8%2C36.6c-14.7%2C1.5-36-6.2-46-16.2%20c21.3%2C10.2%2C36.9%2C4.6%2C52.4-10.8c4.9-4.9%2C5.3-3.3%2C7.8-4.1c-7.9-8.8-31.5-7.7-42.8-1.9c-0.5%2C0.3-1%2C0.6-1.5%2C0.9c-2.9-2.5-4.2%2C0-5.7-0.8%20c-4.9-2.6-10.7-8.9-12.4-13.1c4.5%2C2.2%2C9.4%2C3.6%2C14.4%2C4.1c2.9%2C0.4%2C4.1%2C3.4%2C6.1%2C1.7c1.7-1.5%2C1.1-4.3-0.7-4.5c-1.8-0.2-4.1%2C1.7-5.6%2C1.6%20c-3.6-0.1-8.6-0.9-11.8-3.6c-1-0.8-1.8-1.7-2.4-2.8c3.3-3.5%2C7.3-6.3%2C11.8-7.9c1.6%2C1.2%2C3%2C3.4%2C5.1%2C1.2c1.1-1.2%2C0.6-4.5-1.4-4.7%20c-2.1-0.2-2.9%2C1.9-3.9%2C2.2c-5%2C1.2-8.2%2C5.5-12.5%2C7.5c-1.4-0.6-2.8-1.9-5.1-1.4c-4.7-2.1-9.3-4.5-13.8-7.2c13.4-1.1%2C26.6-4.2%2C39.2-9.1%20c1.6%2C2.1%2C3.8%2C0.5%2C5.9%2C0.9c2.7%2C8.4%2C17.1%2C17.4%2C24.9%2C13.6c2.2%2C0%2C3.3%2C1.5%2C5.1-1.1c1.1-1.7-1.1-5.8-3.6-3.2c-1.1%2C1.2-1.8%2C3.4-3.5%2C3.6%20c-8.2%2C1.1-20.1-5-20.9-13.8c2.5%2C2.3%2C6.8%2C4.2%2C10.2%2C5.5c1.4%2C0.5%2C2%2C2.4%2C4.1%2C1.9c1.4-0.3%2C1.9-2.3%2C0.4-3.7c-2.2-2.2-2%2C1.1-4.3%2C0.6%20c-3.4-0.8-7-2.5-9.2-5.8c6.2-1.4%2C14.9%2C0.8%2C21.4-0.2c2.6-0.4%2C3.6%2C1.6%2C5-0.4c1.5-2.1-0.3-4.6-1.6-4.5c-1.7%2C0.2-2.9%2C2.3-3%2C3.6%20c-7.2%2C1.5-14-1-22-0.2c1.2-2.3%2C4.3-4.3%2C7.5-4.8c1.7-0.3%2C1.9%2C1.5%2C3.6%2C0.4c0.4-0.3%2C0.7-0.6%2C0.9-1.1c0.4-1.1-0.2-2.3-1.3-2.6%20c-1.9-0.8-2.5%2C1.7-3.8%2C2.2c-2.4%2C1-5.1%2C2.5-7.2%2C2.4c4.1-5.8%2C8.5-10.3%2C13.9-12.5c1.8-0.7%2C2.8%2C1.6%2C5.1-0.2c0.8-0.6%2C0.8-3-0.9-4%20c-2.3-1.3-2.8%2C2.1-5.1%2C3.3c-6.5%2C3.2-11.9%2C8.4-15.4%2C14.8c-2.2%2C1.2-4.7-0.2-7%2C3.4c-11.3%2C4.7-24.5%2C7.4-36.4%2C8.7c4.8-2.4%2C8-5.8%2C11.3-9.3%20c0.7%2C0.2%2C2-0.5%2C3.9-3.4c7.2-0.4%2C15.1-1.1%2C19.3-9.3c1-2%2C5-4.4%2C3.6-6.9c-1.1-1.9-3.2-1.7-3.8-0.2c-1.4%2C3.4%2C0%2C5.3-0.7%2C6.6%20c-3.8%2C7.4-10.9%2C8.6-17.8%2C8.3c1.1-2%2C4.4-4.6%2C6.9-7.3c1.5-1.7%2C4.9-1%2C4.8-5.2c0-2.6-3.6-2.8-4.6-1.4c-1.4%2C1.9-0.4%2C4.3-1.4%2C5.4%20c-1.7%2C2.2-3.5%2C4.7-5.9%2C5.7c-0.8-6.4%2C1.2-12%2C4.1-17.2c1.3-2.5%2C6.8-1.7%2C5.6-6.3c-0.7-2.8-4.6-4.2-6-1.5c-1.1%2C2-0.3%2C5.6-1.1%2C7.5%20c-2.3%2C5.2-4.3%2C13.4-5.4%2C18c-2.3-3-3.7-6.7-4-10.5c-0.2-2.3%2C3-4.4%2C1.4-7.9c-1.1-2.5-6-2.1-6.1%2C3.6c0%2C3.2%2C2.5%2C3.3%2C3%2C5.2%20c0.9%2C4.1%2C4.2%2C8.2%2C5.1%2C11.2c-0.6%2C1.1-1.9%2C2.2-1.8%2C4.9c-7.1%2C10-18.5%2C11-31.9%2C7.6c-3.6-0.9-8.8-3.8-13.6-7.6%20c-2.7-5.1-5.5-9.3-10.5-11.5c12.2%2C4.7%2C29.2%2C13.5%2C44.7%2C14.8c-10.3-20.3-33-18.4-49.5-25.2c15.4%2C0.1%2C35.1-2.1%2C51.3-13%20c-18.3%2C0.3-35.4-3.6-56.8%2C7.8c-15.7-16.5-28.9-49.8-29.2-71.7C45.7%2C312.6%2C66.1%2C326%2C95.9%2C330c9.4%2C1.2%2C8.2%2C3.3%2C11.5%2C5.6%20c0.7-18.2-23.2-45.7-39.6-53.9c-3.6-1.8-7.7-2.5-11.7-3.4c-4.3-0.9-8.8-2-12.7-4.1c-4.4-2.3-7.7-6-9-10.9%20c-1.5-5.7-2.6-11.7-1.9-17.6c0.3-2.9%2C1.1-5.8%2C2.2-8.5c5.7-14.1%2C23.5-12.1%2C33-16.8c16.4-8.2%2C40.3-35.7%2C39.6-53.9%20c-3.2%2C2.3-2.1%2C4.3-11.5%2C5.6c-29.7%2C3.9-50.1%2C17.4-61.1%2C53.2c0.3-21.9%2C13.5-55.2%2C29.2-71.7c21.5%2C11.4%2C38.5%2C7.5%2C56.8%2C7.8%20c-16.2-10.8-35.9-13.1-51.3-13c16.5-6.8%2C39.2-5%2C49.5-25.2c-15.5%2C1.3-32.5%2C10-44.7%2C14.7c5-2.2%2C7.8-6.4%2C10.5-11.5%20c4.8-3.8%2C10-6.7%2C13.6-7.6c13.4-3.4%2C24.8-2.4%2C31.9%2C7.6c-0.1%2C2.7%2C1.2%2C3.8%2C1.8%2C4.9c-0.9%2C3-4.1%2C7.1-5.1%2C11.2c-0.5%2C1.9-3%2C2-3%2C5.2%20c0.1%2C5.7%2C5%2C6%2C6.1%2C3.6c1.6-3.5-1.6-5.6-1.4-7.9c0.3-3.8%2C1.7-7.4%2C4-10.5c1.1%2C4.6%2C3.1%2C12.8%2C5.4%2C18c0.8%2C1.9%2C0%2C5.5%2C1.1%2C7.5%20c1.5%2C2.7%2C5.3%2C1.3%2C6-1.5c1.2-4.5-4.2-3.8-5.6-6.3c-2.8-5.2-4.9-10.8-4.1-17.2c2.4%2C1.1%2C4.2%2C3.6%2C5.9%2C5.7c0.9%2C1.2%2C0%2C3.6%2C1.4%2C5.4%20c1%2C1.4%2C4.6%2C1.2%2C4.6-1.4c0.1-4.1-3.3-3.5-4.8-5.2c-2.5-2.7-5.8-5.3-6.9-7.3c6.8-0.3%2C14%2C0.9%2C17.8%2C8.3c0.6%2C1.3-0.7%2C3.1%2C0.7%2C6.6%20c0.6%2C1.5%2C2.7%2C1.7%2C3.8-0.2c1.5-2.5-2.6-4.9-3.6-6.9c-4.2-8.2-12.1-8.9-19.3-9.3c-1.8-3-3.1-3.6-3.9-3.4c-3.3-3.5-6.5-6.9-11.3-9.3%20c11.8%2C1.3%2C25.1%2C3.9%2C36.4%2C8.7c2.3%2C3.6%2C4.8%2C2.2%2C7%2C3.4c3.5%2C6.4%2C8.8%2C11.6%2C15.4%2C14.8c2.3%2C1.2%2C2.8%2C4.6%2C5.1%2C3.3c1.7-1%2C1.7-3.4%2C0.9-4%20c-2.3-1.8-3.3%2C0.6-5.1-0.2c-5.4-2.2-9.8-6.7-13.9-12.5c2.2-0.2%2C4.8%2C1.4%2C7.2%2C2.4c1.3%2C0.5%2C1.9%2C3.1%2C3.8%2C2.2c1.1-0.4%2C1.7-1.5%2C1.3-2.6%20c-0.2-0.5-0.5-0.8-0.9-1.1c-1.7-1.1-1.9%2C0.7-3.6%2C0.4c-3.2-0.5-6.3-2.5-7.5-4.8c7.9%2C0.7%2C14.7-1.7%2C22-0.2c0.1%2C1.3%2C1.3%2C3.4%2C3%2C3.6%20c1.3%2C0.1%2C3.1-2.4%2C1.6-4.5c-1.4-2-2.5%2C0-5-0.4c-6.4-1.1-15.2%2C1.2-21.4-0.2c2.2-3.2%2C5.8-4.9%2C9.2-5.8c2.3-0.6%2C2.1%2C2.7%2C4.3%2C0.6%20%20c1.5-1.5%2C0.9-3.4-0.4-3.7c-2.1-0.5-2.7%2C1.4-4.1%2C1.9c-3.5%2C1.3-7.7%2C3.2-10.2%2C5.5c0.8-8.9%2C12.6-15%2C20.9-13.8c1.7%2C0.2%2C2.4%2C2.4%2C3.5%2C3.6%20c2.4%2C2.6%2C4.7-1.6%2C3.6-3.2c-1.8-2.6-2.9-1-5.1-1.1c-7.8-3.8-22.1%2C5.2-24.9%2C13.6c-2.1%2C0.4-4.3-1.2-5.9%2C0.9%20c-12.6-4.9-25.8-7.9-39.2-9.1c4.4-2.7%2C9-5.1%2C13.8-7.2c2.3%2C0.5%2C3.8-0.8%2C5.1-1.4c4.3%2C2%2C7.5%2C6.3%2C12.5%2C7.5c1%2C0.2%2C1.8%2C2.4%2C3.9%2C2.2%20c2-0.2%2C2.5-3.5%2C1.4-4.7c-2.1-2.2-3.4%2C0-5.1%2C1.2c-4.5-1.7-8.6-4.4-11.8-7.9c0.6-1.1%2C1.4-2%2C2.4-2.8c3.3-2.6%2C8.2-3.4%2C11.8-3.6%20c1.5-0.1%2C3.8%2C1.8%2C5.6%2C1.6c1.8-0.2%2C2.4-3%2C0.7-4.5c-2-1.7-3.2%2C1.2-6.1%2C1.7c-5%2C0.5-9.9%2C1.9-14.4%2C4.1c1.7-4.2%2C7.5-10.5%2C12.4-13.1%20c1.5-0.8%2C2.8%2C1.7%2C5.7-0.8c0.5%2C0.3%2C1%2C0.6%2C1.5%2C0.9c11.3%2C5.7%2C34.9%2C6.9%2C42.8-1.9c-2.5-0.8-2.9%2C0.8-7.8-4.1%20c-15.6-15.5-31.1-21.1-52.4-10.8c10.1-10%2C31.3-17.7%2C46-16.2c4.8%2C17.7%2C14.5%2C25.8%2C22.8%2C36.6c-2.6-14.4-10.7-26.9-17.9-35.8%20c10.7%2C6.4%2C20.4%2C20.4%2C34.4%2C17.1c-7.8-8.4-19.7-14.3-27.5-19.2c6.4%2C3.7%2C12.4-1%2C21.3-1.1c6.6-0.1%2C14.3%2C6.6%2C22.4%2C6.2%20c16.4-0.9%2C27.7-12.3%2C35-25.8c-18.6%2C3.4-31.7-6.1-47.2%2C2.8c-7.8%2C4.5-11.5%2C19.7-24.7%2C15.1c10.1-4.4%2C15.2-11.2%2C21.5-17.2%20c3.8-3.6%2C8.4-6.1%2C10.9-10.9c-8.4%2C0.2-15.4%2C6.3-20.4%2C10.7c3.1-6.4%2C8.9-11%2C8.1-20c-7.6%2C6.8-16.7%2C17.3-20.6%2C26.8%20c-1.5%2C3.6-1.6%2C8.9-4.9%2C10.6c-6.7%2C3.4-12.4-2.3-22.6%2C1.5c6.8-11%2C20.9-11.8%2C27-22.7c4.8-8.5%2C5.8-17.6%2C7.5-28.2%20c-16.1%2C10.2-39.9%2C20.5-39.8%2C42.6c0%2C3.5%2C2.3%2C6.1%2C0.6%2C8.2c-4.6%2C0.5-9.1%2C1.4-13.5%2C2.6c8-12.8%2C12.4-28%2C11.9-46.3%20c-5.3%2C6.4-9%2C14.8-12.1%2C22.7c-0.2-4.5%2C0.9-9.9-0.8-13.5c-6.7%2C9.6-11.4%2C21.8-11%2C34.6c0.1%2C2.7%2C1.2%2C5.2%2C1.9%2C7.8%20c-6.5%2C4.1-12.5%2C8.9-17.9%2C14.3c6.3-16.9%2C5.3-35.2%2C0.9-51.8c-14.8%2C25.9-36.5%2C32.6-43%2C60.1c-3.3%2C13.9%2C7.6%2C33.1-9.6%2C44.7%20c5.6-16.5%2C4.1-29.3%2C4.5-42.9c0.3-8%2C2.3-16.1%2C0.2-23.8c-7.9%2C10.4-9%2C24.9-9.5%2C35.2c-3.1-10-1.8-21.5-11.2-29.2%20c-1%2C15.8%2C0.3%2C37.1%2C5.5%2C51.1c2%2C5.3%2C6.9%2C10.6%2C5.4%2C16.3c-3.2%2C11.4-14.3%2C12.8-20.4%2C28.9c-3.9-18.9%2C9-36.9%2C4.6-54.8%20C53.7%2C93.7%2C46%2C83.6%2C37.6%2C71.3c-5.9%2C29.5-19.2%2C68.4%2C1.9%2C89.7c3.4%2C3.4%2C8%2C3%2C8.4%2C7.2c-4%2C6.1-7.5%2C12.4-10.7%2C19%20c-4.3-22.7-15.7-43.5-32.4-59.5c0.9%2C12.6%2C5.3%2C25.3%2C9.8%2C36.8C10.2%2C160.4%2C6%2C153.8%2C1%2C152.4c2.6%2C17.5%2C9.6%2C35%2C22.2%2C47%20c2.6%2C2.5%2C6.2%2C3.6%2C9.2%2C5.3c-3.7%2C18.3-4.7%2C37.1-2.9%2C55.8c0.2%2C1.9%2C0.3%2C3.8%2C0.5%2C5.7c0.5%2C5.9%2C0.2%2C11.9%2C0.7%2C17.8c0.4%2C4.4%2C0.9%2C8.9%2C1.8%2C13.2%20c-3.1%2C1.8-6.6%2C2.8-9.2%2C5.3c-12.6%2C12-19.6%2C29.4-22.2%2C47c5-1.4%2C9.2-8%2C13.6-12.1c-4.6%2C11.6-8.9%2C24.2-9.8%2C36.8%20c16.8-16%2C28.1-36.8%2C32.4-59.5c3.1%2C6.5%2C6.7%2C12.9%2C10.7%2C19c-0.4%2C4.2-5%2C3.8-8.4%2C7.2c-21.1%2C21.2-7.8%2C60.2-1.9%2C89.7%20c8.4-12.3%2C16.1-22.4%2C19.5-36.5c4.4-17.9-8.5-35.9-4.6-54.8c6.2%2C16%2C17.3%2C17.4%2C20.4%2C28.9c1.6%2C5.7-3.4%2C10.9-5.4%2C16.3%20c-5.2%2C14-6.5%2C35.3-5.5%2C51.1c9.3-7.7%2C8.1-19.2%2C11.2-29.2c0.6%2C10.3%2C1.6%2C24.8%2C9.5%2C35.2c2.1-7.7%2C0.1-15.8-0.2-23.8%20c-0.4-13.5%2C1.1-26.4-4.5-42.9c17.2%2C11.6%2C6.3%2C30.9%2C9.6%2C44.7c6.6%2C27.5%2C28.2%2C34.2%2C43%2C60.1c4.4-16.6%2C5.4-34.9-0.9-51.8%20c5.4%2C5.4%2C11.4%2C10.2%2C17.9%2C14.3c-0.6%2C2.6-1.8%2C5.1-1.9%2C7.8c-0.4%2C12.9%2C4.3%2C25%2C11%2C34.6c1.7-3.6%2C0.6-9%2C0.8-13.5c3.1%2C8%2C6.8%2C16.4%2C12.1%2C22.7%20c0.4-18.3-3.9-33.5-11.9-46.3c4.4%2C1.2%2C9%2C2.1%2C13.5%2C2.6c1.7%2C2.2-0.6%2C4.7-0.6%2C8.2c-0.1%2C22.1%2C23.7%2C32.4%2C39.8%2C42.6%20c-1.7-10.6-2.7-19.7-7.5-28.2c-6.1-10.8-20.2-11.6-27-22.7c10.1%2C3.8%2C15.9-2%2C22.6%2C1.5c3.3%2C1.7%2C3.4%2C7%2C4.9%2C10.6%20c3.9%2C9.5%2C13%2C20.1%2C20.6%2C26.8c0.8-9-5-13.6-8.1-20c4.9%2C4.4%2C12%2C10.5%2C20.4%2C10.7c-2.5-4.8-7.1-7.4-10.9-10.9c-6.3-6-11.5-12.8-21.5-17.2%20c13.3-4.6%2C16.9%2C10.6%2C24.7%2C15.1c15.5%2C8.9%2C28.6-0.6%2C47.2%2C2.8C268.7%2C456.1%2C257.4%2C444.7%2C241%2C443.8z%20M112.2%2C375.6%20c-11.5-5.4-28.3-5.5-35.9-16.3C88.9%2C360.6%2C104.9%2C363.5%2C112.2%2C375.6z%20M92.8%2C313.8c-14.4-12.4-35-16.2-45.8-33.4%20C63.8%2C283.1%2C84.7%2C297.1%2C92.8%2C313.8z%20M100%2C327.5c-21-5.3-46-8.2-56.8-41.4C61.6%2C300.4%2C85.5%2C308.2%2C100%2C327.5z%20M47%2C221.6%20c10.7-17.2%2C31.3-21%2C45.8-33.4C84.7%2C204.9%2C63.8%2C218.9%2C47%2C221.6z%20M100%2C174.5c-14.5%2C19.4-38.4%2C27.1-56.8%2C41.4%20C54.1%2C182.7%2C79%2C179.8%2C100%2C174.5z%20M112.2%2C126.4c-7.3%2C12.1-23.3%2C14.9-35.9%2C16.3C83.9%2C132%2C100.7%2C131.9%2C112.2%2C126.4z%20M265.6%2C37%20c-14%2C7.9-29.6%2C4.5-40.8%2C7C230.8%2C34.5%2C255.6%2C32.4%2C265.6%2C37z%20M264.8%2C41.8L264.8%2C41.8c-7.3%2C13.1-32.2%2C15.8-40.3%2C6.1%20C238.8%2C44.1%2C249.3%2C47.9%2C264.8%2C41.8z%20M230.6%2C25.5L230.6%2C25.5c-7.7%2C7.4-13.5%2C16.1-24.6%2C21.2C212.8%2C38.8%2C219.2%2C30.5%2C230.6%2C25.5z%20M222.5%2C17.2L222.5%2C17.2c-3.3%2C10.8-12.1%2C18.1-17.7%2C27.5C206%2C34.9%2C214%2C24.3%2C222.5%2C17.2z%20M220.2%2C69.8c-8.9%2C1.4-17.6-6.6-24-13.3%20C204.5%2C56%2C212.4%2C65.7%2C220.2%2C69.8z%20M205.6%2C84.9c-6-6.9-14.4-15.7-18.4-29.5C195.3%2C61.2%2C201%2C71.9%2C205.6%2C84.9z%20M178.4%2C44.3%20c1.9-13.6%2C20.5-21.5%2C28.6-33.1C204%2C26.6%2C194.4%2C37.6%2C178.4%2C44.3z%20M204.2%2C8.3c-2%2C6.6-11.2%2C11.6-17.4%2C17.5c-6.3%2C5.9-9.7%2C13.8-12.5%2C21.3%20C169.8%2C27.1%2C189.6%2C17.7%2C204.2%2C8.3z%20M167.8%2C13.9L167.8%2C13.9c1.3%2C15.5-5.1%2C31.1-13.6%2C42.3C154.1%2C41.5%2C161.5%2C26.4%2C167.8%2C13.9z%20M155.8%2C22.9L155.8%2C22.9c1.9%2C12.1-2.5%2C25.2-5.6%2C36C143.4%2C46%2C153.1%2C33.6%2C155.8%2C22.9z%20M192.8%2C85L192.8%2C85%20c-15.5%2C0.5-30.1-9.8-45.1-13.8C167.7%2C62.1%2C180.6%2C75.2%2C192.8%2C85z%20M183.2%2C87.1c-11.3%2C3-27.3-2.7-36.3-11.1h0%20C159.6%2C74.3%2C170.8%2C84.5%2C183.2%2C87.1z%20M95.5%2C100c10.3-21.2%2C24-30.3%2C33.3-55C134.2%2C66.7%2C112.6%2C99.6%2C95.5%2C100z%20M125.1%2C39.3%20c-6%2C24.6-24.4%2C40.4-32.9%2C56.4C89%2C79.2%2C111%2C47%2C125.1%2C39.3z%20M93.8%2C111L93.8%2C111c6.3-8.1%2C20.1-10.9%2C27.5-21.2c1.7-2.3%2C3.2-4.7%2C4.5-7.2%20c2-3%2C4.8-5.3%2C8.2-6.6c6.7-2.4%2C12.4%2C3.2%2C17.6%2C7.5c-0.8%2C0.7-1.2%2C1.9-2.7%2C2.8c-5.7%2C3.6-10.9%2C8.9-13.4%2C14.2c-1.3-3.4-1.5-6.6-0.5-8.8%20c1-2.1%2C3.1-2.2%2C1.9-4.9c-0.6-1.3-2.7-0.9-3.2%2C0c-0.9%2C1.5-0.1%2C3%2C0%2C5c0.1%2C3.6-0.5%2C5.8%2C0.7%2C10.3c-1.5%2C0.8-3%2C1.4-3.9%2C3.1%20c-7%2C4.2-9.6%2C6.1-15.1%2C8.1c-4.6%2C1.7-12.9%2C1.9-19.8%2C4.5c-3.3%2C1.4-6.5%2C3.2-9.4%2C5.4C88.4%2C119%2C90.9%2C114.9%2C93.8%2C111z%20M80.2%2C70.8%20c-0.5%2C16.6%2C2.2%2C32-3.8%2C50.5C75.6%2C105.2%2C73.9%2C89.5%2C80.2%2C70.8z%20M64.6%2C72.5c7.1%2C14.6%2C5.5%2C32.3%2C8.9%2C48.3C65.3%2C109.7%2C63%2C89.7%2C64.6%2C72.5z%20M112.4%2C158.9L112.4%2C158.9c-12.3%2C0.5-28.8%2C2.2-45.9-6.2C80%2C148.3%2C95.6%2C151.8%2C112.4%2C158.9z%20M38.3%2C86.1L38.3%2C86.1%20c4.3%2C8.9%2C0.2%2C24.8-0.3%2C38.1c-0.5%2C13.4%2C3.7%2C25.2%2C8.2%2C35.9C22.8%2C146.1%2C33.2%2C113%2C38.3%2C86.1z%20M47.5%2C152.4L47.5%2C152.4%20c-11.1-15.5-0.5-45.8-3.7-66.8C55.6%2C104.1%2C56.7%2C126.4%2C47.5%2C152.4z%20M8.5%2C135.8c16%2C13.5%2C24.6%2C36.5%2C27%2C57.5%20C21.3%2C179.2%2C14.2%2C155.7%2C8.5%2C135.8z%20M5.4%2C159.1c13.3%2C9.4%2C21.5%2C27.5%2C28.8%2C41.8C15.3%2C196.7%2C12.9%2C172.8%2C5.4%2C159.1z%20M5.4%2C342.9%20c7.6-13.6%2C9.9-37.6%2C28.8-41.8C26.9%2C315.3%2C18.6%2C333.4%2C5.4%2C342.9z%20M8.5%2C366.2c5.7-19.9%2C12.8-43.4%2C27-57.5%20C33.1%2C329.7%2C24.5%2C352.8%2C8.5%2C366.2z%20M38.3%2C415.9c-5.2-27-15.5-60.1%2C7.9-74c-4.5%2C10.6-8.7%2C22.5-8.2%2C35.9%20C38.6%2C391.1%2C42.6%2C407.1%2C38.3%2C415.9z%20M43.8%2C416.4c3.2-21-7.4-51.3%2C3.7-66.8l0%2C0C56.7%2C375.6%2C55.6%2C397.9%2C43.8%2C416.4z%20M66.5%2C349.3%20c17.1-8.4%2C33.5-6.8%2C45.9-6.2l0%2C0C95.6%2C350.2%2C80%2C353.7%2C66.5%2C349.3z%20M64.6%2C429.5c-1.6-17.2%2C0.8-37.2%2C8.9-48.3%20C70%2C397.1%2C71.6%2C414.9%2C64.6%2C429.5z%20M80.2%2C431.2c-6.3-18.7-4.6-34.4-3.8-50.5C82.4%2C399.3%2C79.7%2C414.7%2C80.2%2C431.2z%20M192.8%2C417L192.8%2C417%20c-12.1%2C9.8-25%2C22.9-45.1%2C13.8C162.7%2C426.8%2C177.2%2C416.5%2C192.8%2C417z%20M183.2%2C414.9c-12.3%2C2.6-23.6%2C12.9-36.3%2C11.1l0%2C0%20C155.8%2C417.5%2C171.8%2C411.8%2C183.2%2C414.9z%20M92.2%2C406.3c8.5%2C16%2C26.8%2C31.8%2C32.9%2C56.4C111%2C455%2C89%2C422.8%2C92.2%2C406.3z%20M128.8%2C456.9%20c-9.3-24.7-23-33.7-33.3-55C112.6%2C402.4%2C134.2%2C435.3%2C128.8%2C456.9z%20M134%2C425.9c-3.4-1.3-6.2-3.6-8.2-6.6c-1.3-2.5-2.9-4.9-4.5-7.2%20c-7.4-10.3-21.3-13-27.5-21.2h0c-2.9-3.9-5.4-8-7.5-12.4c2.9%2C2.2%2C6%2C4%2C9.4%2C5.4c6.8%2C2.6%2C15.2%2C2.9%2C19.8%2C4.5c5.5%2C2%2C8.1%2C4%2C15.1%2C8.1%20c0.9%2C1.7%2C2.4%2C2.3%2C3.9%2C3.1c-1.2%2C4.6-0.6%2C6.8-0.7%2C10.3c-0.1%2C2-0.8%2C3.4%2C0%2C5c0.5%2C0.9%2C2.6%2C1.3%2C3.2%2C0c1.2-2.8-0.9-2.8-1.9-4.9%20c-1-2.1-0.8-5.4%2C0.5-8.8c2.4%2C5.3%2C7.7%2C10.6%2C13.4%2C14.2c1.5%2C0.9%2C1.9%2C2.1%2C2.7%2C2.8C146.5%2C422.8%2C140.7%2C428.3%2C134%2C425.9z%20M155.8%2C479.1%20c-2.7-10.7-12.4-23.1-5.6-36C153.3%2C453.9%2C157.7%2C467%2C155.8%2C479.1z%20M167.8%2C488.1c-6.4-12.5-13.7-27.5-13.6-42.3%20C162.7%2C456.9%2C169.2%2C472.6%2C167.8%2C488.1z%20M207%2C490.7c-8-11.6-26.7-19.4-28.6-33.1C194.4%2C464.4%2C204%2C475.4%2C207%2C490.7z%20M186.8%2C476.3%20c6.3%2C5.9%2C15.4%2C10.9%2C17.4%2C17.5c-14.6-9.5-34.4-18.8-29.9-38.8C177.1%2C462.5%2C180.5%2C470.4%2C186.8%2C476.3z%20M205.6%2C417.1%20c-4.5%2C13-10.2%2C23.7-18.4%2C29.5C191.2%2C432.8%2C199.6%2C424%2C205.6%2C417.1z%20M196.1%2C445.5c6.5-6.7%2C15.2-14.7%2C24-13.3l0%2C0%20C212.4%2C436.3%2C204.5%2C446%2C196.1%2C445.5z%20M230.6%2C476.5L230.6%2C476.5c-11.4-5-17.7-13.3-24.6-21.2C217.1%2C460.5%2C222.8%2C469.1%2C230.6%2C476.5z%20M222.5%2C484.8L222.5%2C484.8c-8.5-7.1-16.5-17.7-17.7-27.5C210.4%2C466.6%2C219.2%2C473.9%2C222.5%2C484.8z%20M264.8%2C460.1L264.8%2C460.1%20c-15.5-6-26-2.2-40.3-6.1C232.6%2C444.3%2C257.4%2C447%2C264.8%2C460.1z%20M224.8%2C458c11.2%2C2.5%2C26.8-0.9%2C40.8%2C7%20C255.6%2C469.6%2C230.8%2C467.5%2C224.8%2C458z'/%3E%3C/svg%3E") no-repeat;
  right: 20%;
  transform: rotate(180deg);
  height: 500px;
}
.section-1 .show::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(157, 134, 140, 0.7882352941);
  background-size: cover;
  background-position: 50%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.8;
}
.section-1 .show::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 100vw;
  border-color: #fff #fff #fff transparent;
}
.section-1 .content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10;
}
.section-1 .content .title {
  font-size: 2rem;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}
@media (max-width: 576.98px) {
  .section-1 .content .title {
    font-size: 1.5rem;
  }
}
.section-1 .content .desc {
  font-size: 20px;
  color: #fff;
  letter-spacing: 5px;
}
.section-1 .content .name {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #FFFFFF;
  letter-spacing: 2px;
  align-items: center;
  padding-bottom: 10px;
}
.section-1 .content .name span {
  display: block;
  font-size: 5rem;
  text-align: center;
}
@media (max-width: 991.98px) {
  .section-1 .content .name span {
    font-size: 4rem;
  }
}
@media (max-width: 767.98px) {
  .section-1 .content .name span {
    font-size: 3rem;
  }
}
.section-1 .content .name span:last-child,
.section-1 .content .name span:first-child {
  letter-spacing: 1.5px;
  text-transform: capitalize;
}
.section-1 .content .name span:nth-child(2) {
  font-size: 3rem;
  display: block;
  margin: 20px 20px 0 20px;
}
.section-1 .content .day {
  font-size: 25px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-top: 20px;
}

.couple {
  margin: -100px 0 80px 0;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .couple {
    margin: 0 !important;
  }
}
.couple .avatars {
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.couple .avatars .image {
  border-radius: 5px;
  padding-bottom: 30px;
  position: relative;
  z-index: 100;
  padding: 20px;
}
.couple .avatars .image img {
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
  object-fit: cover;
  background-color: #fff;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px #dddcdc;
}
.couple .avatars .image .box-text {
  text-align: center;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.couple .avatars .image .box-text .name {
  font-size: 1.9rem;
  text-transform: capitalize;
  color: #EDA2B6;
  text-align: center;
}
@media (max-width: 767.98px) {
  .couple .avatars .image .box-text .name {
    font-size: 1.6rem;
  }
}
.couple .avatars .image .box-text div {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #EDA2B6;
}
.couple .avatars .image .box-text .desc {
  color: rgba(77, 77, 77, 0.8);
  font-size: 1.1rem;
  text-align: justify;
  text-indent: 20px;
}
.couple__content {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.couple__content--head {
  font-size: 3rem;
  color: #EDA2B6;
}
@media (max-width: 767.98px) {
  .couple__content--head {
    font-size: 2rem;
  }
}
.couple__content--desc {
  font-size: 1.1rem;
  opacity: 0.8;
  text-align: center;
}
@media (max-width: 767.98px) {
  .couple__content--desc {
    text-align: justify;
  }
}
.couple__content--name {
  font-size: 3rem;
  font-family: "Oooh Baby", cursive;
}
@media (max-width: 767.98px) {
  .couple__content--name {
    font-size: 2rem;
  }
}

.section-3 {
  position: relative;
}
.section-3 .fillter {
  background: url(../images/background-2.jpg) center;
  background-position: center -28px;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
}
.section-3 .fillter::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0 130px 100vw;
  border-color: #fff #fff transparent #fff;
  z-index: 1;
  top: -2px;
}
.section-3 .fillter::after {
  content: "";
  bottom: -1px;
  position: absolute;
  border-style: solid;
  border-width: 130px 0 0 100vw;
  border-color: transparent transparent transparent #fff;
}
.section-3 .fillter .opacity {
  background-color: #AE7883;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 0;
}
.section-3 .fillter .content {
  text-align: center;
  margin-top: -230px;
  position: relative;
  top: 0;
  left: 0;
}
.section-3 .fillter .content .title {
  font-size: 3rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1.4px;
  padding-bottom: 10px;
}
.section-3 .fillter .btn {
  padding: 10px 25px;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 20px;
  border: 1px solid #EDA2B6;
}
.section-3 .fillter i {
  font-size: 25px;
}

.album {
  padding: 80px 0;
  height: max-content;
}
.album__head {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 60px;
  color: #EDA2B6;
}
@media (max-width: 576.98px) {
  .album__head {
    font-size: 2rem;
  }
}
.album__head::after {
  content: "";
  background: url(../images/icon-small.svg) no-repeat;
  position: absolute;
  top: 60px;
  left: calc(50% - 100px);
  width: 50%;
  height: 100px;
}
.album__lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
@media (max-width: 767.98px) {
  .album__lists {
    grid-template-columns: repeat(2, 1fr);
  }
}
.album__lists--item {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.album__lists--item img {
  cursor: pointer;
  width: 400px;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 16/9;
  transition: all 0.25s ease-out;
}
@media (max-width: 767.98px) {
  .album__lists--item img {
    margin-bottom: 20px;
  }
}
.album__lists--item img:hover {
  transform: scale(1.1);
}

.modal {
  display: block;
}
.modal__content {
  margin: auto;
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 80%;
  max-height: 80%;
}
.modal__content--img {
  display: block;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: cover;
  position: absolute;
}

.event {
  width: 100%;
  background: url("../images/background-2.webp") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
  padding: 50px 0;
  height: 100%;
  position: relative;
}
.event::before {
  content: "";
  background-color: rgba(158, 158, 158, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.event__head {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 576.98px) {
  .event__head {
    font-size: 32px;
  }
}
.event__head::before {
  content: "";
  background: url(../images/icon-small-white.svg) no-repeat;
  position: absolute;
  width: 100%;
  height: 30px;
  background-position: center;
  top: 30%;
  left: 0;
}
.event p {
  text-align: center;
  color: #fff;
  max-width: 500px;
  margin: 20px auto;
}
.event__list {
  padding: 20px;
  background-color: #fff;
  width: max-content;
  margin-bottom: 30px;
  border-radius: 10px;
}
.event__list--photo {
  padding-bottom: 30px;
}
.event__list--photo img {
  width: 320px;
  height: 320px;
  object-fit: cover;
}
.event__list--content h3 {
  color: #f37597;
}
.event__list--content time {
  padding-bottom: 20px;
}
.event__list--content span {
  font-size: 17px;
  padding-bottom: 20px;
}
.event__list--content .address {
  color: #000;
  padding-bottom: 20px !important;
  margin: 0;
}
.event__list--content .location {
  padding: 10px 0;
  font-size: 2rem;
  color: rgba(255, 0, 0, 0.575);
}
.event__list--button {
  color: #000;
  font-size: 20px;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: #fad3de;
  transition: all 0.25s;
}
.event__list--button:hover {
  background-color: #EDA2B6;
  color: #fff;
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateY(-200%);
    height: 0;
  }
  50% {
    opacity: 0;
    transform: 0, -100;
    height: 100%;
  }
  100% {
    opacity: 1;
    transform: 0, 0;
    height: 100%;
  }
}
.congratulations {
  padding: 80px 0;
}
.congratulations .head {
  font-size: 2.5rem;
  font-weight: 800;
  color: #EDA2B6;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 50px;
}
@media (max-width: 576.98px) {
  .congratulations .head {
    font-size: 2rem;
  }
}
.congratulations .head::after {
  content: "";
  background: url(../images/icon-small.svg) no-repeat center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20%;
  left: 0;
}
.congratulations .card {
  border: none;
  height: 100%;
  margin-bottom: 20px;
}
.congratulations .card .card-child {
  text-align: center;
  color: #fff;
  background: #EDA2B6;
  border-radius: 5px;
}
.congratulations .card .card-child .desc {
  font-size: 1.5rem;
  padding: 30px;
}
.congratulations .card .card-child .qr {
  border: 2px solid #fff;
  max-width: max-content;
  height: max-content;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
}
.congratulations .card .card-child .qr img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  padding: 5px;
}
.congratulations .card .card-child .text {
  font-size: 1.1rem;
  padding: 10px 0;
}

.the-big-day {
  padding: 120px 0;
  margin-bottom: 100px;
  position: relative;
}
.the-big-day::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0 100px 100vw;
  border-color: #fff #fff transparent #fff;
  z-index: 1;
}
.the-big-day::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0 92px 100vw;
  border-color: #fff #fff #fff transparent;
  z-index: 1;
  top: calc(100% + 30px);
  left: 0;
}
.the-big-day .bg-opcity {
  background: url("../images/background-3.webp") no-repeat center;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.the-big-day .bg-opcity::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #AE7883;
  opacity: 0.7;
  height: 100%;
}
.the-big-day .title {
  font-size: 3rem;
  color: #fff;
  max-width: 100%;
  text-align: center;
  margin-top: 10rem;
}
.the-big-day .invite {
  text-align: center;
  color: #fff;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  height: max-content;
  position: relative;
  margin-top: 30px;
  z-index: 1;
}
.the-big-day .invite::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid;
  z-index: 1;
  background: rgba(237, 161, 181, 0.6);
}
.the-big-day .invite::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  border: 2px solid;
  z-index: 1;
  background: rgba(237, 161, 181, 0.6);
}
.the-big-day .invite .content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
}
.the-big-day .invite .content .name {
  text-transform: capitalize;
  padding-bottom: 30px;
}
.the-big-day .invite .content .name span {
  font-size: 2.5rem;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
.the-big-day .invite .content .name span:nth-child(2) {
  font-size: 1.5rem;
}
.the-big-day .invite .content .desc {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
  font-size: 1.1rem;
}
.the-big-day .invite .content .btn {
  color: #fff;
  padding: 15px 30px;
  width: 200px;
  height: 50px;
  background: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: none;
  border: 1px solid #fff;
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  z-index: 100;
}
.the-big-day .invite .content .day {
  font-size: 2rem;
}
@media (max-width: 767.98px) {
  .the-big-day .invite .content .day {
    font-size: 1.5rem;
  }
}
@media (max-width: 576.98px) {
  .the-big-day .invite .content .day {
    padding: 0;
  }
}

.guestbook {
  padding: 100px 0;
  margin-bottom: 80px;
  font-family: "Open sans", sans-serif;
  position: relative;
}
.guestbook .content {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 600px;
  height: max-content;
  background: #fff;
  box-shadow: 0 0 25px 10px rgba(100, 100, 100, 0.14);
}
@media (max-width: 576.98px) {
  .guestbook .content {
    padding: 0 5px;
  }
}
.guestbook .content .form {
  height: 100%;
  border: none;
  height: auto;
}
.guestbook .content .form textarea,
.guestbook .content .form input {
  display: block;
  width: 100%;
  padding: 0 20px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  font-size: 1.1rem;
}
.guestbook .content .form textarea:focus,
.guestbook .content .form input:focus {
  border: 1px solid #EDA2B6;
}
.guestbook .content .form .title {
  font-size: 40px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  padding: 3rem 0;
  text-transform: capitalize;
  color: #EDA2B6;
}
@media (max-width: 767.98px) {
  .guestbook .content .form .title {
    font-size: 30px;
  }
}
.guestbook .content .form textarea {
  height: 100px;
  padding-top: 10px;
  margin-bottom: 40px;
}
.guestbook .content .form .btn {
  color: #EDA2B6;
  padding: 15px 30px;
  width: 200px;
  height: 50px;
  text-transform: uppercase;
  box-shadow: none;
  cursor: pointer;
  border: 1px solid #EDA2B6;
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  transition: all 0.25s;
}
.guestbook .content .form .btn:hover {
  background-color: #EDA2B6;
  color: #fff;
}
.guestbook .content .wish-box {
  margin: 0 3rem;
  max-height: 400px;
  overflow: hidden;
}
.guestbook .content .wish-box .wish-box-item {
  height: 100%;
}
.guestbook .content .wish-box .wish-box-item .name {
  display: block;
  margin-bottom: 10px;
}
.guestbook .content .wish-box .wish-box-item .happy {
  text-align: justify;
}
.guestbook .content .wish-box .wish-box-item::after {
  content: "";
  width: 100%;
  height: 0px;
  border-top: 1px dashed #f0aa95;
  display: block;
  margin: 20px 0;
}
.guestbook .content .wish-box:hover {
  overflow-y: auto;
  z-index: -1;
}
.guestbook .content .wish-box:hover::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.guestbook .content .wish-box:hover::-webkit-scrollbar-thumb {
  width: 2px;
  border-radius: 20px;
  background-color: rgb(168, 168, 168);
}
.guestbook .content .wish-box:hover::-webkit-scrollbar-track {
  border-radius: 20px;
}

.footer {
  background: #EDA2B6;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
  bottom: 0;
}
.footer__name {
  text-align: center;
  padding: 30px;
}
.footer__name--item {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1.6px;
  font-weight: 600;
  line-height: 40px;
}
.footer__name::after {
  content: "";
  background: url(../images/footer-logo.svg) no-repeat center;
  position: absolute;
  width: 100%;
  height: 150px;
  top: 7%;
  left: 100px;
  transform: rotate(45deg) scale(0.6);
  opacity: 0.8;
}
.footer__name::before {
  content: "";
  background: url(../images/footer-logo.svg) no-repeat center;
  position: absolute;
  width: 100%;
  height: 150px;
  top: 7%;
  left: -100px;
  transform: rotate(232deg) scale(0.6);
  opacity: 0.8;
}
.footer__name span {
  color: #fff;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.section-audio {
  position: fixed;
  bottom: 100px;
  left: 50px;
  cursor: pointer;
  z-index: 1000;
  width: 60px;
  height: 60px;
  background-color: #f95480;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
  animation: pulsate-bck 0.5s ease-in-out infinite both;
}
.section-audio i {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #ffffff;
}
.section-audio i.active {
  display: none;
}

/*# sourceMappingURL=style.css.map */
